.demo{
    width:100%;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 6vh;
}

.maki{
   /* position: fixed;*/
    height:7vh;
    width:300px;
    padding:0 10%;
    margin: auto;
    z-index:10;
    background: transparent;
}



.list{
    transform-style:preserve-3d;
    text-transform: uppercase;
   /* position:absolute;*/
    margin-left: -100px;
    margin-top: 0;
    top: 55%;
}

 a{
    background: yellow;
    font-size:4vh;
    line-height: 6vh;
}

.list a{
    text-decoration: none;
    display: block;
    color: #fff;
}

.list dt,
.list dd{
    line-height: 6vh;
    margin: 0;
    height: 6vh;
    width:300px;
    color:#fff;
}

.list dt{
    transform: translateZ(0.3px);
    font-size: 4vh;
}

.list dd{
    line-height: 6vh;
    font-size: 4vh;
    height:6vh;
    margin:0;
    /*font-family: Caveat-VariableFont_wght;
    font-family:ArchitectsDaughter-Regular;
    font-family: Prompt-Light;*/
    font-family: ArchitectsDaughter-Regular;

}

.dropdown dt,
.dropdown dd,
.dropdown a{
    background: crimson;
}

.dropdown{
    transform: perspective(600px) translateZ(1px) !important;
    left:75%;
}
/*****/




a {

    -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -moz-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -ms-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -o-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);

    text-decoration: none;
}


.demo:after {

    box-shadow: 0 1px 16px rgba(0,0,0,0.15);
    background: #1b1b1b;
    position: absolute;
    content: '';
    height: 10px;
    width: 100%;
    top: 0;
}

/* List styles */

.list {

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    text-transform: uppercase;
   /* position: absolute;
    margin-left: -140px;
    margin-top: -280px;
    top: 55%;*/
}

.list a {
    
    display: block;
    color: #fff;
}

.list a:hover {
    text-indent: 20px;
}
/*
.list dt, .list dd {

    text-indent: 10px;
    line-height: 55px;
    background: #E0FBAC;
    margin: 0;
    height: 6vh;
    width: 300px;
    color: #fff;
}
*/
.list dt {

    /* Since we're hiding elements behind here, we need it in 3d */
    -webkit-transform: translateZ(0.3px);
    -moz-transform: translateZ(0.3px);
    -ms-transform: translateZ(0.3px);
    -o-transform: translateZ(0.3px);
    transform: translateZ(0.3px);

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.list dd {

    border-top: 1px dashed rgba(255,255,255,0.3);
  
}

/* UI */

.toggle {

    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    border-radius: 3px;

    text-transform: uppercase;
    /*letter-spacing: -1px;*/
    line-height: 50px;
   /* margin-left: -70px;
    margin-top: -20px;*/
    background: #2b2b2b;
    text-align: center;
    font-size: 12px;
    /*position: absolute;*/
    height: 50px;
    bottom: 10%;
    width: 140px;
    color: #fff;
    left: 50%;
}

.toggle:hover {
    
    background: #E42692;
}

/* No CSS 3D support warning */
.warning {

    -webkit-transform: translateZ(2px);
    -moz-transform: translateZ(2px);
    -ms-transform: translateZ(2px);
    -o-transform: translateZ(2px);
    transform: translateZ(2px);

    background: rgba(255,255,255,0.6);
    position: fixed;
    display: none;
    z-index: 999;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.warning .message {

    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    text-align: center;
    margin-left: -150px;
    margin-top: -60px;
    line-height: 1.5;
    background: #222;
    font-size: 12px;
    position: absolute;
    padding: 10px;
    width: 280px;
    color: #fff;
    left: 50%;
    top: 50%;
}

.warning .message h1 {

    font-weight: 300;
    font-size: 14px;
}

.warning .message a {

    text-decoration: none;
    color: #73C8A9;
}

/* Individual styles */


.maki dt, .maki dd, .maki a { background: #E32551; }

.maki a:hover { background: #d31b46; }


/*
.maki {

    -webkit-transform: perspective(600px) translateZ(1px) !important;
    -moz-transform: perspective(600px) translateZ(1px) !important;
    -ms-transform: perspective(600px) translateZ(1px) !important;
    -o-transform: perspective(600px) translateZ(1px) !important;
    transform: perspective(600px) translateZ(1px) !important;

    left: 50%;
}
*/